<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci deleniti vitae aliquam repellat saepe illum non sint excepturi, quidem doloribus eaque, architecto dolor fugit. Facilis officia dolor nostrum harum?</p>
    <a href="/">Principal</a>
</body>
</html>